# -*- mode: ruby -*-
# vi: set ft=ruby :
#set ($childStructures = $puppetModules)
if versioncmp($::puppetversion,'3.6.1') >= 0 {

        $allow_virtual_packages = hiera('allow_virtual_packages',false)

        Package {
                allow_virtual => $allow_virtual_packages,
                }
        }
#foreach ($machineName in $childStructures.keySet())
	node "$machineName" {
		#foreach($moduleName in $childStructures.get($machineName))
			include $moduleName
		#end
	}
#end	

