
<div ng-show="boxesData.length == 0">
	<span class="messageTitle">No Boxes found</span>
</div>
<div ng-show="boxesData.length >0 && activeVM === null">
	<span class="messageTitle">Select a box to manage</span>
</div>

<div class="boxDetails" ng-show="boxesData.length>0 && activeVM !== null">
	<table class="table table-striped">
		<thead>
			<tr>
				<td>VagrantID</td>
				<td>HostName</td>
				<td>DockerImage</td>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td><span ng-bind="activeVM.vagrantID"></span></td>
				<td><span ng-bind="activeVM.hostName"></span></td>
				<td><span ng-bind="activeVM.dockerImage"></span></td>
			</tr>
		</tbody>
	</table>
	<table class="table table-striped">
		<thead>
			<tr>
				<td>UserName</td>
				<td>Password</td>
				<td>Provider</td>
				
			</tr>
		</thead>
		<tbody>
			<tr>
				<td><span ng-bind="activeVM.username"></span></td>
				<td><span ng-bind="activeVM.password"></span></td>
				<td><span ng-bind="activeVM.provider"></span></td>
			</tr>
		</tbody>
	</table>
	
</div>