<div id="controlBar" ng-controller="ctrlBarController" class="col-md-8 col-md-offset-4" style="position:absolute; bottom:0px;  background:#3c454f; color:#FFF;" ng-class="{collapseCtrlBar:collapseSecNav, normalCtrlBar:!collapseSecNav, expandCtrlBar:expandedCtrlBar}">
	<div id="controlBarNav">
		<div class="container-fluid">
			<div class="row">
				
				<div class="col-md-6">
					<a data-target="#" class="pull-left" style="font-size:26px; color:#FFF;" ng-click="expandedCtrlBar = true;">
						<span ng-hide="expandedCtrlBar">
							<i class="fa fa-plus"></i>
						</span>
					</a>
				</div>
				<div class="col-md-6">

					<div class="tab-content">
						<div class="trashIcon tab-pane fade" id="boxTrash">
							<a class="pull-right" ng-click="deleteActiveBox()">
								<span ng-hide="expandedCtrlBar">
									<i class="fa fa-trash-o"></i>
								</span>
							</a>
							<a class="pull-right">
								<span ng-show="expandedCtrlBar">
									<i class="fa fa-minus-circle" ng-click="expandedCtrlBar = false;"></i>
								</span>
							</a>
						</div>
						<div class="trashIcon tab-pane fade" id="scriptTrash">
							<a class="pull-right" ng-click="deleteActiveScript()">
								<span ng-hide="expandedCtrlBar">
									<i class="fa fa-trash-o"></i>
								</span>
							</a>
							<a class="pull-right">
								<span ng-show="expandedCtrlBar">
									<i class="fa fa-minus-circle" ng-click="expandedCtrlBar = false;"></i>
								</span>
							</a>
						</div>
						<div class="trashIcon tab-pane fade" id="moduleTrash">
							<a class="pull-right" ng-click="deleteActiveModule()">
								<span ng-hide="expandedCtrlBar">
									<i class="fa fa-trash-o"></i>
								</span>
							</a>
							<a class="pull-right">
								<span ng-show="expandedCtrlBar">
									<i class="fa fa-minus-circle" ng-click="expandedCtrlBar = false;"></i>
								</span>
							</a>
						</div>
					</div>

					<!--<a data-target="#" class="pull-right" style="font-size:26px; color:#FFF;">
						<span ng-hide="expandedCtrlBar">
							<i class="fa fa-trash-o"></i>
						</span>
						<span ng-show="expandedCtrlBar">
							<i class="fa fa-minus-circle" ng-click="expandedCtrlBar = false;"></i>
						</span>
					</a>-->
				</div>
			</div>
		</div>
	</div>
	<div id="controlBarBody">
		<!--<div class="tab-content" id="ctrlBarPlayArea">-->
			<!--<div class="tab-pane fade active in" id="newBox">-->
			 <div id="ctrlBarPlayArea">
				<div class="container-fluid">
					<div class="row">
						<div class="col-md-12 sub-section-header" style="color:#ECE8E8;" >
							Choose an option below:
						</div>
						<div class="col-md-3 ctrl-bar-main-nav">
							<ul class="nav nav-pills nav-stacked ctrl-bar-main-list">
								<li class="active">
									<a data-target="#ctrl-bar-box-sec-nav, #ctrl-bar-empty-play-area" ng-click="resetCtrlBarSecNav()" role="tab" data-toggle="tab">
										<div class="main-nav-icon"><i class="fa fa-cube"></i></div>
										<div class="main-nav-label">Box</div>
										<div class="main-nav-description"></div>
									</a>
								</li>
								<li>
									<a data-target="#ctrl-bar-script-sec-nav, #ctrl-bar-empty-play-area" ng-click="resetCtrlBarSecNav()" role="tab" data-toggle="tab">
										<div class="main-nav-icon"><i class="fa fa-code"></i></div>
										<div class="main-nav-label">Script</div>
										<div class="main-nav-description"></div>
									</a>
								</li>
								<li>
									<a data-target="#ctrl-bar-module-sec-nav, #ctrl-bar-empty-play-area" ng-click="resetCtrlBarSecNav()" role="tab" data-toggle="tab">
										<div class="main-nav-icon"><i class="fa fa-gear"></i></div>
										<div class="main-nav-label">Module</div>
										<div class="main-nav-description"></div>
									</a>
								</li>
							</ul>
						</div>
						<div class="col-md-3 tab-content ctrl-bar-sec-nav">				
							<div class="tab-pane fade active in" id="ctrl-bar-box-sec-nav">
								<ul class="nav nav-pills nav-stacked ctrl-bar-sec-list">
									<li>
										<a data-target="#box-quick" role="tab" data-toggle="tab">
											<div class="main-nav-icon"><i class="fa fa-flash"></i></div>
											<div class="main-nav-label">Quick Create</div>
											<div class="main-nav-description"></div>
										</a>
									</li>
									<li>
										<a data-target="#box-clone" role="tab" data-toggle="tab">
											<div class="main-nav-icon"><i class="fa fa-copy"></i></div>
											<div class="main-nav-label">Clone Existing</div>
											<div class="main-nav-description"></div>
										</a>
									</li>
									<li>
										<a data-toggle="modal" data-target="#boxModal">
											<div class="main-nav-icon"><i class="fa fa-pencil"></i></div>
											<div class="main-nav-label">Create from scratch</div>
											<div class="main-nav-description"></div>
										</a>
									</li>
								</ul>
							</div>
					  		<div class="tab-pane fade" id="ctrl-bar-script-sec-nav">
					  			<ul class="nav nav-pills nav-stacked ctrl-bar-sec-list">
									<li>
										<a data-toggle="modal" data-target="#scriptModal">
											<div class="main-nav-icon"><i class="fa fa-pencil"></i></div>
											<div class="main-nav-label">Create from scratch</div>
											<div class="main-nav-description"></div>
										</a>
									</li>
								</ul>
					  		</div>
					  		<div class="tab-pane fade" id="ctrl-bar-module-sec-nav">
					  			<ul class="nav nav-pills nav-stacked ctrl-bar-sec-list">
									<li>
										<a data-toggle="modal" data-target="#moduleModal">
											<div class="main-nav-icon"><i class="fa fa-search"></i></div>
											<div class="main-nav-label">Search for modules</div>
											<div class="main-nav-description"></div>
										</a>
									</li>
								</ul>
					  		</div>
						</div>
						<div class="col-md-6 tab-content" id="ctrl-bar-box-play-area">				
							<div class="tab-pane fade" id="box-quick">
								<!--ng-maxlength="9"
									ng-pattern="/^[a-z0-9]{1,13}$/"-->
					  			<div class="boxConfig"> <span class="boxConfigTitles" >Vagrant ID<sup>*</sup></span>
					              <input name="vagrantID" id="vagrantID" 
									ng-model="quickBox.vagrantID"
									
									
									type="text" 
									class="form-control" 
									required>
					            </div>
							  	<div class="boxConfig"> <span class="boxConfigTitles">Host-Name<sup>*</sup></span>
					              <input name="hostName" id="hostName" type="text"
									ng-model="quickBox.hostName"
									class="form-control"
									required>
					            </div>
					            <div class="boxConfig">
									<span class="boxConfigTitles">Box Type<sup>*</sup></span>
									<input type="text"
											ng-model="quickBox.boxType" 
											class="form-control"
											name="activeVMBoxType"
											required>
								</div>
								<div class="boxConfig"> <span class="boxConfigTitles">Box URL<sup>*</sup></span>
									<!--ng-blur="updateURLInformation()" -->
					              <input name="boxUrl" 
										id="boxUrl" 
										type="url" 
										ng-model="quickBox.boxUrl" 
										
										class="form-control" 
										required/>
					            </div>
					            <div class="boxConfig">
								       	<a class="btn btn-success" ng-click="createBoxes(quickBox)">Create Box</a>
								</div>
					  		</div>
					  		<div class="tab-pane fade" id="box-clone">
					  			<div class="boxConfig"> <span class="boxConfigTitles">Select existing box<sup>*</sup></span> 
					  				<select name="boxNames" ng-model="cloneBox" ng-options="box.vagrantID for box in boxesData" class="form-control" >
									</select>
					  			</div>
					  			<div class="boxConfig">
								       	<a class="btn btn-success" ng-click="cloneBoxData(cloneBox)" data-toggle="modal" data-target="#boxModal" >Create Box</a>
								</div>
					  		</div>
					  		<div class="tab-pane fade" id="ctrl-bar-empty-play-area">
								
							</div>
						</div>
					</div>
				</div>
			<!--</div>-->
		<!--</div>-->
		</div>
	</div>

	<div ng-include="'templates/modals/boxModal.html'"></div>	

	<div ng-include="'templates/modals/scriptModal.html'"></div>

	<div ng-include="'templates/modals/moduleModal.html'"></div>

</div>