<div class="mainNavElements col-md-2" style="position:absolute; top:51px; bottom:0px; ">
	<ul class="nav nav-pills nav-stacked mainNavList">

		<li class="active">
			<a data-target="#dashboardList , #dashboardPlayArea" role="tab" data-toggle="tab" ng-click="$parent.collapseSecNav = true" ng-nit="$parent.collapseSecNav = true">
						<div class="main-nav-icon"><i class="fa fa-desktop"></i></div>
						<div class="main-nav-label">Dashboard</div>
						<div class="main-nav-description"></div>
			</a>
		</li>
		<li class="sectionTitle">
			<div class="sectionTitleText">
				Manage
			</div>
		</li>
	  	<li>
	  		<a data-target="#boxesList , #boxesPlayArea" role="tab" data-toggle="tab" ng-click="$parent.collapseSecNav = false">
	  			<div class="main-nav-icon">
	  				  <i class="fa fa-cubes"></i>
	  			</div>
				<div class="main-nav-label">Boxes</div>
				<div class="main-nav-description"></div>
			</a>
		</li>
	  	<li>
	  		<a data-target="#scriptsList , #scriptsPlayArea" role="tab" data-toggle="tab" ng-click="$parent.collapseSecNav = false">
	  			<div class="main-nav-icon">
	  				  <i class="fa fa-file-code-o"></i>
	  			</div>
				<div class="main-nav-label">Scripts</div>
				<div class="main-nav-description"></div>
			</a>
		</li>
	  	<li>
	  		<a data-target="#modulesList , #modulesPlayArea" role="tab" data-toggle="tab" ng-click="$parent.collapseSecNav = false">
	  			<div class="main-nav-icon">
	  				  <i class="fa fa-gears"></i>
	  			</div>
				<div class="main-nav-label">Modules</div>
				<div class="main-nav-description"></div>
			</a>
		</li>
		<li class="sectionTitle">
			<div class="sectionTitleText">
				Provision
			</div>
		</li>
		<li ng-mouseenter="shellHover = true" ng-mouseleave = "shellHover = false" ng-init="shellHover = false">
			<a data-target="#shellProvPlayArea" role="tab" data-toggle="tab" ng-click="$parent.collapseSecNav = true">
				<div class="main-nav-icon"><i class="fa fa-cog" ng-class="{'fa-spin' : shellHover}"></i></div>
				<div class="main-nav-label">Shell Provisioner</div>
				<div class="main-nav-description"></div>
			</a>
		</li>
		<li ng-mouseenter="puppetHover = true" ng-mouseleave = "puppetHover = false" ng-init="puppetHover = false">
			<a data-target="#puppetProvPlayArea" role="tab" data-toggle="tab" ng-click="$parent.collapseSecNav = true">
				<div class="main-nav-icon"><i class="fa fa-cog" ng-class="{'fa-spin' : puppetHover}"></i></div>
				<div class="main-nav-label">Puppet Provisioner</div>
				<div class="main-nav-description"></div>
			</a>
		</li>
		<li class="sectionTitle">
			<div class="sectionTitleText">
				Share
			</div>
		</li>
		<li>
			<a data-target="#githubPlayArea" role="tab" data-toggle="tab" ng-click="$parent.collapseSecNav = true">
				<div class="main-nav-icon"><i class="fa fa-github"></i></div>
				<div class="main-nav-label">Github</div>
				<div class="main-nav-description"></div>
			</a>
		</li>
	</ul>
</div>