<div id="BoxUpp">
                  <div id="Box-1">
				    <!--<input type="hidden" name="foldersInBox1" id="foldersInBox1" value="1">
					<input type="hidden" class="shellMappings" name="associatedSc1" id="associatedSc1" value="">-->
                    <div class="ddBox" data-intro="Click here to configure your Vagrant Settings" data-step="2" data-position="right">
                      <div class="ddBoxHeading">
                        <div class="ddBoxTitle">Machine Details</div>
                      </div>
                      <div id="collapse1_1" class="ddBoxBody hasmenu">
                        <div class="input-group input-group-sm"> <span class="input-group-addon">Vagrant ID<sup>*</sup></span>
                          <input name="vagrantID" id="vagrantID" 
							data-placement="right" 
							ng-model="activeVM.vagrantID"
							ng-change="limitLength()"
							ng-maxlength="9"
							ng-pattern="/^[a-z0-9]{1,13}$/"
							type="text" 
							class="form-control" 
							ng-disabled="activeVM === null"
							title="Machine's reference ID in Vagrant File"
							required>
                        </div>
						
                        <div class="input-group input-group-sm"> <span class="input-group-addon">Host-Name<sup>*</sup></span>
                          <input name="hostName" id="hostName" type="text" data-placement="right" 
							ng-model="activeVM.hostName"
							class="form-control"
							ng-disabled="activeVM === null"
							title="The hostname the machine should have"
							required>
                        </div>
                        <!--<div class="input-group input-group-sm"> <span class="input-group-addon">Box Type<sup>*</sup></span>
                          <input name="boxType" 
								id="boxType" 
								ng-disabled="activeVM === null" 
								type="text" 
								ng-model="activeVM.boxType" 
								data-placement="right" 
								class="form-control" 
								title="This configures what box the machine will
						  be brought up against" required>
                        </div>-->
						<!-- type ahead demo -->
						<!--<div class='container-fluid input-group input-group-sm' ng-controller="typeAheadController">-->
						<div class='container-fluid input-group input-group-sm'>
							<span class="input-group-addon">Box Type<sup>*</sup></span>
							<input type="text"
									ng-disabled="activeVM === null"
									ng-model="activeVM.boxType" 
									typeahead="state for state in states | filter:$viewValue | limitTo:12" 
									typeahead-on-select="alertUser()"
									data-placement="right"
									title="Box type for this VM"
									class="form-control"
									name="activeVMBoxType"
									required>
						</div>
						<!-- type ahead demo -->
                        <div class="input-group input-group-sm"> <span class="input-group-addon">Box URL<sup>*</sup></span>
                          <input name="boxUrl" 
								id="boxUrl" 
								type="url" 
								data-placement="right" 
								ng-disabled="activeVM === null" 
								title="The URL that the configured box can be found at"
								ng-model="activeVM.boxUrl" 
								ng-blur="updateURLInformation()" 
								class="form-control" 
								required/>
                        </div>
						<span ng-if="urlInfoAvailable" class="infoBtns">{{urlInfo.contentLength}}
							<a ng-if="urlInfo.statusCode === 200" class="done"></a>
							<a ng-if="urlInfo.statusCode !== 200" class="delete"></a>
						</span>
					  </div>
                    </div>
                    <div class="ddBox">
                      <div class="ddBoxHeading">
                        <div class="ddBoxTitle">Networking Details</div>
                      </div>
                      <div id="collapse1_2" class="ddBoxBody hasmenu">
					  <div class="syncBox">
                        <div class="input-group input-group-sm"> <span class="input-group-addon">Network IP<sup>*</sup></span>
                          <input name="networkIP" 
								id="networkIP" 
								type="text" 
								ng-disabled="activeVM === null" 
								ng-model="activeVM.networkIP" 
								ng-pattern="/^(\d|[1-9]\d|1\d\d|2([0-4]\d|5[0-5]))\.(\d|[1-9]\d|1\d\d|2([0-4]\d|5[0-5]))\.(\d|[1-9]\d|1\d\d|2([0-4]\d|5[0-5]))\.(\d|[1-9]\d|1\d\d|2([0-4]\d|5[0-5]))$/"
								class="form-control"
								required>
                        </div>
						<div id="portMappings" ng-repeat="mapping in activeVM.portMappings">
								<div class="input-group input-group-sm reSet"> <span class="input-group-addon">Host Port</span>
								  <input name="hostPort" 
										id="hostPort" 
										type="text" 
										ng-disabled="activeVM === null" 
										ng-model="mapping.hostPort" 
										class="form-control"
										ng-pattern="/^(6553[0-6]|655[0-2]\d|65[0-4]\d\d|6[0-4]\d{3}|[2-5]\d{3,4}|102[4-9]|10[3-9]\d|[2-9]\d{3}|1[1-9]\d{2,3}|1[0-0]\d{3})$/"
										/>
								</div>
								<span class="syncFolderActions">
								<!--value="DeleteFolder" class="folderActions deleteFolder"-->
									<button type="button"  class="folderActions" ng-click="deletePortMapping($index)">
										<i class="delete-icon"></i>
									</button>
								</span>
								<div class="input-group input-group-sm reSet right"> <span class="input-group-addon">VM Port</span>
								  <input name="vmPort" 
										id="vmPort" 
										type="text" 
										ng-disabled="activeVM === null" 
										ng-model="mapping.vmPort" 
										class="form-control"
										ng-pattern="/^(6553[0-5]|655[0-2]\d|65[0-4]\d\d|6[0-4]\d{3}|[1-5]\d{4}|[1-9]\d{0,3}|)$/"
										/>
								</div>
						</div>
					</div>
					<button type="button" class="addPortBtn folderActions" ng-click="addPortMapping()">
						<i class="icon-plus-sign-alt"></i>
					</button>
                    </div>
                    </div>
                    <div class="ddBox">
                      <div class="ddBoxHeading">
                        <div class="ddBoxTitle">Synced Folders</div>
                      </div>
                      <div id="collapse1_3"class="ddBoxBody syncFolders">
                      	<div class="syncBox">
                            <div id="vm_1_folder1" ng-repeat="mapping in activeVM.syncFolders">
									<div class="input-group input-group-sm reSet"> <span class="input-group-addon">Host-Folder</span>
										<input name="hostFolder" id="hostFolder" type="text" ng-disabled="activeVM === null" ng-model="mapping.hostFolder" title="Sync a folder on host machine to the guest machine"
										data-placement="bottom" class="form-control">
									</div>
									<span class="syncFolderActions">
										<button type="button" value="DeleteFolder" class="folderActions deleteFolder" ng-click="deleteFolderMapping($index)">
											<i class="delete-icon"></i>
										</button>
									</span>
									<div class="input-group input-group-sm reSet right"> <span class="input-group-addon">VM-Folder</span>
										<input name="syncFolder" id="syncFolder" type="text" ng-disabled="activeVM === null" ng-model="mapping.vmFolder" class="form-control">
									</div>
                            </div>
                        </div>
						<button type="button" name="folderAddBox1" id="folderAddBox1" class="addFolderBtn folderActions" ng-click="addSyncFolderMapping()">
							<i class="icon-plus-sign-alt"></i>
						</button>
                        
                      </div>
                    </div>
                    <div class="ddBox" data-intro="Sections like this can be used to configure a node you select from the panel on the left" data-step="3" data-position="bottom">
                      <div class="ddBoxHeading">
                        <div class="ddBoxTitle">Miscellaneous Details</div>
                      </div>
                      <div id="collapse1_4"class="ddBoxBody miscDetails">
						<div class="input-group input-group-sm"> <span class="input-group-addon">VirtualBox Name</span>
                          <input name="vboxName" id="vboxName" ng-model="activeVM.provisionerName" ng-disabled="activeVM === null" data-placement="bottom" title="Machine Name to set in VirtualBox GUI"
						  type="text" class="form-control">
                        </div>
                        <div class="input-group input-group-sm reSet details_input"> <span class="input-group-addon addon_width">CPU Exec Cap</span>
                          <input name="cpuExecCap" 
								ng-pattern="/^(4[0-9]|[1-3]\d)$/"
								id="cpuExecCap" 
								ng-model="activeVM.cpuExecCap" 
								ng-disabled="activeVM === null" 
								type="text" 
								data-placement="bottom" 
								title="Host Machine CPU usage in %age"
								class="form-control"/>
						  <span class="input-group-addon" style="width:8%">%</span>
                        </div>
                        <div class="input-group input-group-sm reSet details_input1"> <span class="input-group-addon">Memory (RAM)</span>
                          <input name="memory" 
								id="memory" 
								type="text" 
								ng-disabled="activeVM === null" 
								ng-model="activeVM.memory" 
								ng-pattern="/^(409[0-6]|40[1-8]\d|4[00][0-8]\d|[1-3](\d){3}|51[2-9]|5[2-9][1-9]|[6-9]\d{2})$/"
								
								class="form-control">
						  <span class="input-group-addon" style="width:8%">MB</span>
                        </div>
						
						<div class="input-group input-group-sm reSet details_input"> <span class="input-group-addon addon_width">Boot Timeout</span>
                          <input name="bootTimeout" 
								id="bootTimeout" 
								type="text" 
								ng-disabled="activeVM === null" 
								ng-model="activeVM.bootTimeout" 
								class="form-control"/>
						  <span class="input-group-addon" style="width:8%">Sec</span>
                        </div>
                        <div class="input-group reSet checkbox gui_required">
                       		<label class="dec_right">
								<input name="guiMode" 
									id="guiMode" 
									ng-disabled="activeVM === null" 
									ng-model="activeVM.guiMode" 
									data-placement="bottom" 
									title="If unselected, the machine will start in headless mode" 
									type="checkbox"> GUI Required
							</label>
						</div>
                      </div>
                    </div>
                  </div>
                </div>
                
              </div>