<!--<div style="container-fluid">
	<div class="machineConfiguration">

			<div class="row">
				<div class="col-md-8" style="">-->

				<div class="modal fade" id="boxModal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
					<div class="modal-dialog modal-lg">
					    <div class="modal-content">
					    	<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
								<h4 class="modal-title">Create/update your box configurations</h4>
					        </div>
					        <div class="modal-body">
								<div class="boxConfigs">
									<ul id="boxConfigTabs" class="nav nav-tabs" role="tablist">
									  <li class="active"><a data-target="#machine" role="tab" data-toggle="tab">Box Settings</a></li>
									  <li class=""><a data-target="#networking" role="tab" data-toggle="tab">Networking</a></li>
									  <li class=""><a data-target="#folders" role="tab" data-toggle="tab">Folders</a></li>
									  <li class=""><a data-target="#misc" role="tab" data-toggle="tab">Miscellaneous</a></li>
									  
									</ul>
									<div id="boxConfigContent" class="tab-content" style="position:relative;">
									  <div class="tab-pane fade active in container-fluid" id="machine">
											<div class="boxConfig"> <span class="boxConfigTitles" >Vagrant ID<sup>*</sup></span>
								              <input name="vagrantID" id="vagrantID" 
												ng-model="activeVM.vagrantID"
												ng-change="limitLength()"
												ng-maxlength="9"
												ng-pattern="/^[a-z0-9]{1,13}$/"
												type="text" 
												class="form-control" 
												title="Machine's reference ID in Vagrant File"
												required>
								            </div>
										  	<div class="boxConfig"> <span class="boxConfigTitles">Host-Name<sup>*</sup></span>
								              <input name="hostName" id="hostName" type="text" data-placement="right" 
												ng-model="activeVM.hostName"
												class="form-control"
												title="The hostname the machine should have"
												required>
								            </div>
								            <div class="boxConfig">
												<span class="boxConfigTitles">Box Type<sup>*</sup></span>
												<input type="text"
														ng-model="activeVM.boxType" 
														typeahead="state for state in states | filter:$viewValue | limitTo:12" 
														typeahead-on-select="alertUser()"
														data-placement="right"
														title="Box type for this VM"
														class="form-control"
														name="activeVMBoxType"
														required>
											</div>
											<div class="boxConfig"> <span class="boxConfigTitles">Box URL<sup>*</sup></span>
								              <input name="boxUrl" 
													id="boxUrl" 
													type="url" 
													ng-model="activeVM.boxUrl" 
													ng-blur="updateURLInformation()" 
													class="form-control" 
													required/>
								            </div>
									  </div>
									  <div class="tab-pane fade container-fluid" id="networking">
									  		<div class="boxConfigFxdTop">
									  			<div class="boxConfig"> <span class="boxConfigTitles">Network IP<sup>*</sup></span>
									  			
									              <input name="networkIP" 
														id="networkIP" 
														type="text"
														ng-model="activeVM.networkIP" 
														ng-pattern="/^(\d|[1-9]\d|1\d\d|2([0-4]\d|5[0-5]))\.(\d|[1-9]\d|1\d\d|2([0-4]\d|5[0-5]))\.(\d|[1-9]\d|1\d\d|2([0-4]\d|5[0-5]))\.(\d|[1-9]\d|1\d\d|2([0-4]\d|5[0-5]))$/"
														class="form-control"
														required>
									            </div>
									  	  		<div ng-repeat="mapping in activeVM.portMappings">
									  	  			<div class="row">
									  	  				<div class="boxConfig col-sm-6">
										  					<span class="boxConfigTitles">Host Port<sup>*</sup></span>
										  				</div>	
										  				<div class="boxConfig col-sm-6">
										  					<span class="boxConfigTitles pull-right">VM Port<sup>*</sup></span>
										  				</div>	
									  	  			</div>
										  			<div class="row">
										  				<div class="col-sm-4 ">
											  				<input name="hostPort" id="hostPort" type="text"
																ng-model="mapping.hostPort" class="form-control"
																ng-pattern="/^(6553[0-6]|655[0-2]\d|65[0-4]\d\d|6[0-4]\d{3}|[2-5]\d{3,4}|102[4-9]|10[3-9]\d|[2-9]\d{3}|1[1-9]\d{2,3}|1[0-0]\d{3})$/"/>
										  				</div>	
										  				<div class="col-sm-4  text-center">
										  					<div>
											  					<button type="button" ng-click="deletePortMapping($index)">
																	<i class="fa fa-close"></i>
																</button>
										  					</div>
										  				</div>
										  				<div class="col-sm-4 ">
											  				<input name="vmPort" id="vmPort" type="text"
																ng-model="mapping.vmPort" class="form-control"
																ng-pattern="/^(6553[0-5]|655[0-2]\d|65[0-4]\d\d|6[0-4]\d{3}|[1-5]\d{4}|[1-9]\d{0,3}|)$/"/>
										  				</div>
										  			</div>
										  		</div>
									  		</div>
									  		<div class="boxConfigFxdBtm">
												<a data-target="#" ng-click="addPortMapping()">
													<span> <i class="fa fa-exchange"></i> Add Port Mapping </span>
												</a>
									  		</div>
									  </div>
									  <div class="tab-pane fade container-fluid" id="folders">
									  		<div class="boxConfigFxdTop">
									  			<div ng-repeat="mapping in activeVM.syncFolders">
									  	  			<div class="row">
									  	  				<div class="boxConfig col-sm-6">
										  					<span class="boxConfigTitles">Host Folder<sup>*</sup></span>
										  				</div>	
										  				<div class="boxConfig col-sm-6">
										  					<span class="boxConfigTitles pull-right">VM Folder<sup>*</sup></span>
										  				</div>	
									  	  			</div>
										  			<div class="row">
										  				<div class="col-sm-4 ">
											  				<input name="hostFolder" id="hostFolder" type="text"
																ng-model="mapping.hostFolder" class="form-control" />
										  				</div>	
										  				<div class="col-sm-4  text-center">
										  					<div>
											  					<button type="button" ng-click="deleteFolderMapping($index)">
																	<i class="fa fa-close"></i>
																</button>
										  					</div>
										  				</div>
										  				<div class="col-sm-4 ">
											  				<input name="syncFolder" id="syncFolder" type="text" 
																ng-model="mapping.vmFolder" class="form-control" />
										  				</div>
										  			</div>
										  		</div>
									  		</div>
									  		<div class="boxConfigFxdBtm">
									  			<a data-target="#" ng-click="addSyncFolderMapping()">
													<span> <i class="fa fa-exchange"></i> Add Folder Mapping </span>
												</a>
									  		</div>
									  </div>
									  <div class="tab-pane fade container-fluid" id="misc">
									  		<div class="boxConfig"> <span class="boxConfigTitles" >Virtual Box Name</span>
								              <input name="vboxName" id="vboxName" ng-model="activeVM.provisionerName" data-placement="bottom" title="Machine Name to set in VirtualBox GUI" type="text" class="form-control">
								            </div>
								            <div class="boxConfig"> <span class="boxConfigTitles" >CPU Exec CAP (%)</span>
								              <input name="cpuExecCap" ng-pattern="/^(4[0-9]|[1-3]\d)$/" id="cpuExecCap" 
												ng-model="activeVM.cpuExecCap"  type="text" 
												data-placement="bottom" title="Host Machine CPU usage in %age" class="form-control"/>
								            </div>
											
											<div class="boxConfig"> <span class="boxConfigTitles" >Memory (RAM)</span>
								              <input name="memory" id="memory" type="text" ng-model="activeVM.memory" ng-pattern="/^(409[0-6]|40[1-8]\d|4[00][0-8]\d|[1-3](\d){3}|51[2-9]|5[2-9][1-9]|[6-9]\d{2})$/" class="form-control">
								            </div>
								  			
								  			<div class="boxConfig"> <span class="boxConfigTitles" >Boot Timeout</span>
								              <input name="bootTimeout" 
												id="bootTimeout" type="text" ng-model="activeVM.bootTimeout" 
												class="form-control"/>
								            </div>
								  			
								  			<div class="boxConfig"> <span class="boxConfigTitles" >GUI required</span>
								              <input name="guiMode" 
												id="guiMode" ng-model="activeVM.guiMode" 
												data-placement="bottom" title="If unselected, the machine will start in headless mode" 
												type="checkbox">
								            </div>
								        </div>
									</div>
								</div>
							</div>
							<div class="modal-footer">
								<button class="btn btn-success" ng-disabled="checkBoxCreation()">Create</button>
							</div>
						</div>
					</div>
				</div>
				<!--</div>
			</div>
	</div>
</div>-->