span.messageTitle{
	font-family: 'Roboto', sans-serif;		
	font-size: 35px;
	line-height: 11px;	
	font-weight : 100;
	color : grey;
	margin-top : 20px;
	position:relative;
	top:20px;
} 

span.messageDescription{
	font-family: 'Roboto', sans-serif;		
	font-size: 22px;
	line-height: 11px;	
	font-weight : 100;		
	color : grey;
}

div.boxDetails{
	table{
		thead{
			tr{
				td{
					font-family: 'Open Sans', sans-serif;
					text-transform: uppercase;
					font-weight: 400;
					font-size: 13px;
					line-height: 11px;
					color:grey;
				}
			}
		}
	}
}

div.modulesProvisionList,div.scriptsProvisionList, div.boxesProvisionList{
	ul.shellScriptsList, ul.modulesList{
		list-style:none;
		li{
			div.scriptSelector, div.modulesSelector{
				padding : 0px;
			}
		}
		li.odd{
			background:aliceblue;
		}
		li.even{
			background:ghostwhite;
		}
		div.shellScriptEntryName, div.moduleEntryName{
			margin-left : -15px;
			padding-top:2px;
			font-family: 'Open Sans', sans-serif;
			text-transform: uppercase;
			font-weight: 400;
			font-size: 13px;
			color : #888484;
		}
	}
	div.boxEntries{
		.nav-pills>li>a{
			border-radius : 0px;
			background:#eee;
			cursor : pointer;
		}
		.nav-pills>li.active>a{
			background:#88D2F7;
			color : #FFF;
		}
		div.boxEntry{
			div.boxLogo{
				margin-bottom : 10px;
				span i{
					font-size:28px;
				}
			}
			div.boxTitle{
				font-family: 'Open Sans', sans-serif;
				text-transform: uppercase;
				font-weight: 400;
				font-size: 13px;
				line-height: 11px;
				/*color:grey;*/
			}
		}
	}


	div.sectionTitle{
		background: #D7D9DA;
		padding : 10px 10px;
		margin-bottom : 20px;

		font-family: 'Roboto', sans-serif;		
		font-size: 18px;
		color : #8B8888;
	}

	div.searchBox{
		margin-bottom : 20px;
		span.searchGlass{
			position: absolute;
			top: 7px;
			right: 20px;
			color: grey;
		}
		input{
			border-radius : 0px;
		}
	}
}