<div class="modal fade" id="settingsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-width">
    <div class="modal-content left-radius">
     
      <div class="modal-body">
        <div>
			<ul class="nav nav-tabs nav-tabs-top ">
			  <li class="active"><a  class="nav-color" href="#manifest" data-toggle="tab">VM Config(Defaults)</a></li>
			  <!--<li><a class="nav-color" href="#profile" data-toggle="tab">Profile</a></li>-->
			</ul>

			<!-- Tab panes -->
			<div class="tab-content">
			  <div class="tab-pane  top-paddiing active" id="manifest"  style="height:200px;">
				<div class="ddBox">
                      <div class="ddBoxHeading">
                        <div class="ddBoxTitle">Machine Details</div>
                      </div>
                      <div class="ddBoxBody hasmenu ddBoxBody-hight">
                        						
                        <div class='container-fluid input-group input-group-sm'>
							<span class="input-group-addon label-width">Box Type<sup>*</sup></span>
							<input type="text"
									
									ng-model="defaultConfigurations.boxType" 
									
									data-placement="right"
									title="Default box type for all VMs"
									class="form-control"
									>
						</div>
						
                        <div class="input-group input-group-sm"> <span class="input-group-addon label-width">Box URL<sup>*</sup></span>
                          <input type="text" data-placement="right" title="Default box URLs for all VMs"
						  ng-model="defaultConfigurations.boxUrl" class="form-control">
                        </div>
						
					  </div>
                    </div>
                    <div class="ddBox">
                      <div class="ddBoxHeading">
                        <div class="ddBoxTitle">Networking Details</div>
                      </div>
                      <div class="ddBoxBody hasmenu ddBoxBody-hight ">
						<div class="syncBox Box-hight">
							<div class="input-group input-group-sm"> <span class="input-group-addon">Starting Network IP<sup>*</sup></span>
							  <input name="networkIP" 
									type="text" 
									
									ng-model="defaultConfigurations.networkIP" 
									ng-pattern="/^(\d|[1-9]\d|1\d\d|2([0-4]\d|5[0-5]))\.(\d|[1-9]\d|1\d\d|2([0-4]\d|5[0-5]))\.(\d|[1-9]\d|1\d\d|2([0-4]\d|5[0-5]))\.(\d|[1-9]\d|1\d\d|2([0-4]\d|5[0-5]))$/"
									class="form-control"
									>
							</div>
						
						</div>
					
					   </div>
                    </div>
                    <div class="ddBox">
                      <div class="ddBoxHeading">
                        <div class="ddBoxTitle">Synced Folders</div>
                      </div>
                      <div class="ddBoxBody syncFolders ddBoxBody-hight">
                      	<div class="syncBox Box-hight">
                            <div ng-repeat="mapping in defaultConfigurations.syncFolders">
									<div class="input-group input-group-sm reSet"> <span class="input-group-addon label-width">Host-Folder</span>
										<input name="hostFolder" type="text" ng-model="mapping.hostFolder" title="Host machine folder to be synced with all VMs"
										data-placement="bottom" class="form-control">
									</div>
									<span class="syncFolderActions">
										<button type="button" value="DeleteFolder" class="folderActions deleteFolder" ng-click="delDefaultFolderMapping($index)">
											<i class="delete-icon"></i>
										</button>
									</span>
									<div class="input-group input-group-sm reSet right"> <span class="input-group-addon label-width">VM-Folder</span>
										<input name="syncFolder" type="text" ng-model="mapping.vmFolder" class="form-control">
									</div>
                            </div>
                        </div>
						<button type="button" name="folderAddBox1" class="addFolderBtn margin-top folderActions" ng-click="addDefaultSyncFolderMapping()">
							<i class="icon-plus-sign-alt"></i>
						</button>
                        
                      </div>
                    </div>
                    <div class="ddBox">
                      <div class="ddBoxHeading">
                        <div class="ddBoxTitle">Miscellaneous Details</div>
                      </div>
                      <div class="ddBoxBody miscDetails ddBoxBody-hight">
						<div class="input-group input-group-sm reSet details_input"> <span class="input-group-addon label-width ">Boot Timeout</span>
                          <input name="bootTimeout" 
								
								type="text" 
								
								ng-model="defaultConfigurations.bootTimeout" 
								class="form-control"/>
						  <span class="input-group-addon" style="width:8%">Sec</span>
                        </div>
                        <div class="input-group reSet checkbox gui_required">
							<label class="dec_right">
								<input name="guiMode" 
									
									
									ng-model="defaultConfigurations.guiMode" 
									data-placement="bottom" 
									title="If unselected, the machine will start in headless mode" 
									type="checkbox"> GUI Required
							</label>
						</div>
                      </div>
                    </div>
			  </div>
			  <div class="tab-pane tab-pane-padding" id="profile">Profile Content</div>
			</div>
		</div>
		<!--<div class="alert alert-success ">
			<strong>Warning!</strong> Better check yourself, you're not looking too good.
		</div>-->
      </div>
      <div class="modal-footer top-boder">
        <button type="button" class="btn btn-primary btn-sm" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>