<div class="modal fade" id="console" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" >
      
      <div class="modal-header">
        
        <h4 class="modal-title">Output Console</h4>
      </div>
      <div class="modal-body">
          <div id="consoleOutput" style="height:200px;overflow:auto;">
            {{consoleTrial}} - {{vagrantOutput.length}}
              <span class="vagrantOutputStream" ng-repeat="outputSnippet in vagrantOutput">
                <span ng-class="{'normal':outputSnippet.type === 'normal','error':outputSnippet.type === 'error'}">{{outputSnippet.output}}<br></span>
              </span>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default btn-sm" data-dismiss="modal" >Close</button>
      </div>
    </div>
    <!-- /.modal-content --> 
  </div>
  <!-- /.modal-dialog --> 
</div>